<footer>
	<nav class="round">
		<ul>
			<li> <%= link_to("About", about_path) %></li>
			<li> <%= link_to("Contact", contact_path) %></li>
			<li> <%= link_to("Site Map", map_path) %></li>
			<li><a href="http://rubyonrails.org/">Ruby on Rails</a></li>
		</ul>
	</nav>
    <a href="http://mixpanel.com/f/partner"><img src="http://mixpanel.com/site_media/images/partner/badge_blue.png" alt="Real Time Web Analytics" /></a>
</footer>
